<!-- <nav>
	{{#link-to "index"}}How to use{{/link-to}}
</nav> -->
<aside>
	<nav>
		{{#link-to "index"}}How to use{{/link-to}}
	</nav>
<header>
	<h2>Graph Visualization Sandbox</h2>
</header>
<section>
	<span>
		Layout Type:
	<select onchange={{action (mut layoutTypeIndex) value="target.value"}}>
		{{#each layoutType as |layoutChoice index|}}
			<option value={{ index }} selected={{eq layoutTypeIndex index}}>{{layoutChoice.name}}</option>
		{{/each}}
	</select>
</span>
	<h3> {{layout.name}} </h3>
	<p> {{layout.description}} </p>
	<p> {{layout.value}} </p>
</section>
	<!-- <footer>
		<h4>About The Data</h4>
		<p>Dolphin social network: an undirected social network of frequent associations between 62 dolphins in a community living off Doubtful Sound, New Zealand. D. Lusseau, K. Schneider, O. J. Boisseau, P. Haase, E. Slooten, and S. M. Dawson, Behavioral Ecology and Sociobiology 54, 396-405 (2003).</p>
	</footer> -->
</aside>

<div class="cy-container">
	<div id="cy"></div>
</div>
