<!-- <nav>
	{{#link-to "index"}}How to use{{/link-to}}
</nav> -->
<aside>
	<nav>
		{{#link-to "index"}}{{fa-icon "arrow-left"}} How to use{{/link-to}}
	</nav>
<header>
	<h2>Graph Visualization Sandbox</h2>
</header>
<section>
	<span>
		Layout Type:
	<select onchange={{action (mut layoutTypeIndex) value="target.value"}}>
		{{#each layoutType as |layoutChoice index|}}
			<option value={{ index }} selected={{eq layoutTypeIndex index}}>{{layoutChoice.name}}</option>
		{{/each}}
	</select>
</span>
	<h3> {{layout.name}} </h3>
	<p> {{layout.description}} </p>
	<p> {{layout.value}} </p>
</section>
	<footer>
		<h4>{{fa-icon "key"}} Tip</h4>
		<p>Double-click any node to select its nearest neigbor and then watch how those highlighted nodes are affected by different layouts.</p>
	</footer>
</aside>

<div class="cy-container">
	<div id="cy"></div>
</div>
